apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ JH_SHARED_STORAGE_PVC_NAME }}
spec:
  accessModes:
   - {{ MANILA_SHARE_ACCESS_MODE }}
  resources:
    requests:
      storage: {{ MANILA_SHARE_SIZE}}Gi
  volumeName: {{ JH_SHARED_STORAGE_PV_NAME }} # must match PV name above
  storageClassName: ""
