{
{% if JH_SINGLEUSER_GPU_ENABLE is defined and JH_SINGLEUSER_GPU_ENABLE|bool %}
    "default-runtime": "nvidia",
    "runtimes": {
        "nvidia": {
            "path": "/usr/bin/nvidia-container-runtime",
            "runtimeArgs": []
        }
{% if JH_DEPLOY_STRATEGY == "z2jh_kubeadm"  %}
    },
{% else %}
    }
{% endif %}
{% endif %}
{% if JH_DEPLOY_STRATEGY == "z2jh_kubeadm"  %}
    "exec-opts": ["native.cgroupdriver=systemd"],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "100m"
    },
    "storage-driver": "overlay2"
{% endif %}
}
